In [ ]:
#1
%pip install pandas

In [3]:
import pandas as pd

data = ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'] # Создадим список с данными Series
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] # Создадим список с индексами Series
s = pd.Series(data, index=labels, name='animals') # Создадим Series, обращаясь к Pandas
s

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animals, dtype: object

In [6]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
         'age': [2.5, 3, 0.5, 3, 5, 2, 4.5, 4, 7, 3],
         'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df.shape
df.loc['a':'d']

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  3.0       3      yes

In [7]:
df.age

a    2.5
b    3.0
c    0.5
d    3.0
e    5.0
f    2.0
g    4.5
h    4.0
i    7.0
j    3.0
Name: age, dtype: float64

In [12]:
"cat" in s

False